.header
    background: red
    display: flex
    justify-content: space-between
    align-items: center
    height: 10%
    &__logo //left logo
        display: flex
        align-items: center
    &__logo-img
        margin: 1rem
    &__logo-text
        font-size: 1.4rem

    &__burger //burger
        margin: 
            left: 1rem
            right: 1.5rem
        height: 2.8rem
        width: fit-content
        display: flex
        flex-direction: column
        justify-content: space-between
    &__span
        display: block
        width: 3.8rem
        height: 4px
        background: black
        border-radius: 10px