$x: true
$y: true
@mixin margin($x: false, $y: false)
    @if $x
        margin: 
            left: auto
            right: auto
    @if $y
        margin: 
            top: auto
            bottom: auto
        